html{
	background-color:#012169;
	font-family: sans-serif;
}

body{
    margin: 0px;
}

#container{
	background-color:white;
    margin: auto;
    width: 969px;
    height: 500px;
}

.logo{
	padding: 6px 0px 0px 6px;
}


