<div style="background:green; height: 300px; width:300px;">
<ul data-sly-list.item="${properties.paths}" data-sly-unwrap>
  <li>index: ${index} =  ${item}</li>
  <li style="font-weight:bold;">index: ${itemList.index} =  ${item}</li>
</ul> 
</div>