<div id="container">

	<div id="header">
    	<div class="logo" data-sly-resource="logo"></div>
    	<!--div data-sly-resource="${@path='logo-francisco' , resourceType='foundation/components/logo'}"></div-->
    	<div class="page__topnav" data-sly-resource="topnav"></div>
	</div>
    <div id="homeTop">
    	<div id="imageTopLeft">
			<img  data-sly-resource="${'imageTopLeft' @ resourceType='foundation/components/image'}" data-sly-unwrap>
        </div>
        <div id="slideShowRight">
        	<div data-sly-resource="slideshow"></div>
        </div>

    <!--div  data-sly-resource="parsys" style='float:right; width:500px'></div-->
    </div>
    <div id="homeBottom">
        <div class="homeBottomContent rightBorder stripped">
			<div class="homeContentPanel" data-sly-resource="homeContentPanel"></div>
        </div>
        <div class="homeBottomContent rightBorder"></div>
        <div class="homeBottomContent stripped"></div>
    </div>
    <div  data-sly-resource="parsys"></div>
</div>