<div class="homeContentPanelContainer">
	<h1 data-sly-test="${!properties.titulo}">Enter the title</h1>
	<h1 data-sly-test="${properties.titulo}">${properties.titulo}</h1>
	<p data-sly-test="${!properties.descricao}">Enter the description (maximum of 620 characters)</p>
    <p data-sly-test="${properties.descricao}">${properties.descricao}</p>

    <a data-sly-test="${properties.summary}" href="${properties.path}.html">${properties.summary} ></a>
</div>
