<div style=" height: 300px; width:300px;">
<h1> MULTI DIALOG</h1>
<h2>${properties.dashboard}</h2>
<h3>${properties.path}</h3>
<ul data-sly-list.item="${properties.path}" data-sly-unwrap>
     <li>index: ${itemList.index} =  ${item}</li>
     </ul>
</div>