<!--h1>Footer</h1>
<div style="background:green; height: 300px; width:300px;">
<ul data-sly-list.item="${properties.paths}" data-sly-unwrap>
  <li>index: ${index} =  ${item}</li>
  <li style="font-weight:bold;">index: ${itemList.index} =  ${item}</li>
</ul> 
</div-->
<style>
 .footerColumn{

 float:left;
     margin: 0 10px 0 0;
     max-width: 127px;
 }

.footerColumn > ul {
	list-style-type:none;
    padding:0;
    margin: 0;
 }

.footerColumn > a{
 	text-transform: uppercase;
     line-height: 14px;
}
#footer{
    font-size: 11px;
    font-family: Arial,sans-serif;
    position:initial;
    margin-top: 17px;
    }
#footer a{
    text-decoration:none;
    color:white;

}
 #footer a:hover {
        text-decoration: underline;
    }
</style>
<!--div style="background:yellow; height: 30px; width:30px;" data-sly-test.author="${wcmmode.edit || wcmmode.design || wcmmode.preview}">
    <h1>${wcmmode.edit}</h1>
    <h1>${wcmmode.preview}</h1>
 </div-->

<div data-sly-test="${!properties.paths}" style="background:pink;width:1000px; height :200px;">

</div>
<div id="footer"  data-sly-list.p="${properties.paths}" >


  <div data-sly-use.root="${'logic.js' @ pagePath=p }" data-sly-unwrap>
      <div class="footerColumn">
      <a href="${root.navRoot.path @ extension = 'html'}">${root.navRoot.title}</a>
      <ul data-sly-list.child="${root.navRoot.listChildren}">
        <li>
          <a href="${child.path @ extension = 'html'}">${child.title}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

