
html{
	background-color:#012169;
	font-family: arial,sans-serif;
}

body{
    margin: 0px;
}
h1{
    color:#012169;
}
#container{
	background-color:white;
    margin: auto;
    width: 969px;
    height: 870px; 
}

.logo{
	padding: 4px 0px 0px 17px;
}
.logo > a > img {
    height: 56px;
        width: 144px;
    }
#homeTop{
	margin: 0px 17px 0px 17px;
}

#imageTopLeft {
    float: left;
    /*display: table;*/
}


#imageTopLeft > div {
	/*position: relative;*/

    /*border: solid 10px green*/;
    width: 352px;
    height: 363px;
    background: gray;
    /*text-align: center;
    vertical-align: middle;
    display: table-cell;*/
}

#slideShowRight{
    height: 363px;
    width: 583px;
    float: right;
    background-color: blue;
}
#homeBottom{
	margin: 0px 17px 0px 17px;
    border: solid 1px #012169;

    position: relative;
    float: left;
    width: 935px;
    margin: 8px 29px 0px 17px;
    height: 380px;
    border-bottom: solid 10px #012169;
    background-color: white;
}
.homeBottomContent{

    height:100%;
    width:33.26%;
    float:left;
    position:relative;
}

.rightBorder{
	border-right: solid 1px #012169;
}

.homeBottomContent > div{

}
.stripped{
    background: repeating-linear-gradient(
    0deg,
    #ececec,
    #ececec 1px,
    white 2px,
    white 3px
  );
}


.homeContentPanel{

height: 100%;
width: 100%;
margin: auto;
    position:absolute;
        }
    .homeContentPanelContainer{
    	margin: 10px;
        }
    .homeContentPanelContainer > h1
    {
        font-size:14px;
    }

    .homeContentPanelContainer > p
    {
        font-size:11px;
    text-align:justify;
    }

.homeContentPanelContainer a {
text-decoration:none;
        font-size: 11px;
}

#footer{

}

.footerColumn{
 float:left;
}

.footerColumn > ul {
	type:none;
}
