/*
 *  Copyright 2015 Adobe Systems Incorporated
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

.topnav {
    float: right;
    list-style: none;
    padding-right: 10px;
    text-transform: uppercase;
    font-size:14px;
    margin: 0px 10px 16px 0px;
}

.topnav > li > a {
    text-decoration: none;
	font-weight: bold;
}
.topnav > li > a:hover{
	color: #78BE20;
}
.topnav__item {
    float: left;
    margin-left: 36px;
}
.topnav__item--selected >a {

    color:#78BE20;
}

.topnav__item false {
    color:#012169;
}

.topnav > li > a:visited {
  color: none;
}
.page__topnav{
	/*position: absolute;*/
}
